html {
    --white-pink: #ffedf5;
    --pink: #ffabd9;
    --orange-pink: #ffaabe;
    --light-pink: #ffcee9;
    --light-orange-pink: #ffd8e2;
    --gray-pink: #e9bdd5;
    --purple-pink: #e6afe4;
    --dark-purple-pink: rgba(152,123,150,0.8);
    --font: "Montserrat", sans-serif;
    background: var(--white-pink);
    font-family: var(--font);
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .container {
    margin-bottom: 2rem;
  }
  
  /*========================= NAV BAR =========================*/
  .nav-bar {
    background: var(--pink);
    background: linear-gradient(30deg,    
      var(--pink) 0%, var(--orange-pink)   
      100%);
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 8px 2px 
      rgba(222,222,222,1);
  }
  
  .nav-container-1 {
    flex-grow: 1;
    flex-basis: 40px;
    padding-left: 1%;
  }
  
  .nav-container-2 {
    flex-grow: 1;
    flex-basis: 40px;
    text-align: center;
  }
  
  .image-logo {
    max-height: 40px;
    vertical-align: middle;
  }
  
  .nav-container-3 {
    flex-grow: 1;
    flex-basis: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
  }
  
  /*========================= SIDE MENU =========================*/
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background: var(--white-pink);
    background: linear-gradient(30deg,    
      var(--white-pink) 0%, var(--light-pink)   
      100%);
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  }
  
  .menu-logo {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 100px;
  }

  .line {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--dark-purple-pink);
      width: 100%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    transition: 0.3s;
    white-space: nowrap;
  }
  
  .sidenav a:hover {
    color: var(--dark-purple-pink);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 3px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
  }
  
  /*========================= BUTTONS =========================*/
  .button-height {
    align-self: center;
  }
  
  .button {
    width: 5rem;
    height: 2.4rem;
    margin: 0.5rem;
    outline: none;
    background-color: Transparent;
    border: none;
    border-radius:25px;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    cursor: pointer;
  }
  
  .button-color {
    background: var(--light-pink);
    background: linear-gradient(0deg, 
      var(--light-pink) 0%, var(--light-orange-pink) 100%);
  }
  
  .button:hover {
    background: var(--gray-pink);
    background: linear-gradient(0deg, 
      var(--gray-pink) 0%, var(--purple-pink) 100%);
  }
  
  
  /*========================= MAIN CONTENT =========================*/
  .content {
    margin-top: 2rem;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
  }
  
  .top {
    margin-top: 5rem;
  }
  
  .content-1 {
    flex-grow: 1;
    flex-basis: 40px;
    text-align: center;
    height: 100%;
    z-index: 1;
    position: relative;
  }
  
  .image-1 {
    max-width: 100%;
  }
  
  .content-2 {
    flex-grow: 1;
    flex-basis: 40px;
    text-align: center;
  }
  
  /*========================= FOOTER =========================*/
  .footer {
    max-height: 50px;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-item {
    flex-basis: 5rem;
    text-align: center;
  }
  
  /*========================= RESPONSIVE =========================*/
  @media only screen and (max-width: 500px) {
    .content {
      flex-direction: column;
    }  
    
    .reverse {
      flex-direction: column-reverse;
    }
    
    .button-hide {
      display: none;
    }
  }
  
  /*========================= TRANSITIONS =========================*/
  .fade {
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
