  h1 {
    text-align: center;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
  }

  p {
    text-align: center;
    font-size: 1.3rem;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
  }
  
  .container {
    background-color: #d1fff2;
    border-radius: 1rem;
    max-width: 700px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  .formContent {
    position: relative;
    padding: 0px;
    text-align: center;
  }
  
  .login-form {
    padding-top: 1rem;
  }

  .formFooter {
    padding-top: 1rem;
  }
  
  #register {
    background-color: #f6fffcbd;
    color: #5A5A5A;
    font-style: bold;
  }
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #78C2AD;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 1px 5px 5px 1px #78c2ad6c;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 20px 20px;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #78C2AD;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #78C2AD;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #78C2AD;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  *:focus {
      outline: none;
  }
  