<!-- <!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DatingApp</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
  <link rel="stylesheet" href="./home.component.css">

  
</head>

  =====================================================

<html>
  <body>
    
    ========================= SIDE NAV =========================
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" 
          onclick="closeNav()">&times;</a>
      <div class="menu-logo">
        <img class="menu-logo" src="../../assets/logo.png" alt="heart">
      </div>
      <div class="divider-center">
        <div class="divider"></div>
      </div>
      <a href="#" class="hover-link">Hello, Sign In!</a>
      <a href="#" class="hover-link">Register</a>
      <a href="https://github.com/NikoMakridakis/DatingApp" target="_blank" class="hover-link">Source Code</a>
    </div>
      
      
    ========================= NAV BAR =========================   
    <div class="nav-bar">
      <div class="nav-container-1">
        <div id="menu-icon" onclick="openNav()">
          <div id="line"></div>
          <div id="line"></div>
          <div id="line"></div>
        </div>
      </div>
      <div class="nav-container-2">
        <img class="image-logo" src="../../assets/logo.png" alt="heart">
      </div>
      <div class="nav-container-3">
        <div class="button-height">
          <input type="submit" class="button"value="Log In">
        </div>
        <div class="button-height">
          <input type="submit" class="button button-color" value="Register">
        </div>
      </div>
    </div>

    

    ========================= MAIN CONTENT =========================
    <div class="container" *ngIf="!registerMode || !loginMode">
      <div class="content reverse top">
        <div class="content-image-left" data-aos="fade" data-aos-easing="ease-in">
          <img class="image" src="../../assets/Couple1.png" alt="couple">
        </div>
        <div class="content-text"> 
          <h1>
            Ready to Join?
          </h1>
          <h3 class="sub-text">
            Welcome to  <strong>DatingAppDemo.Site</strong>! <br>
            (This is not a real website or dating app)
    
          </h3>
        </div>
      </div>

      <div class="content" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="800">
        <div class="content-text">
          <h1>
            Finding The One
          </h1>
          <h3 class="sub-text">
            A meaningful relationship requires finding the right person.
          </h3>
          <h3 class="sub-text mobile-hide">
            Knowing multiple languages, being a dog or cat person,
            or growing up as the oldest sibling helped make you the unique person you are.
            Finding the person of your dreams is all about understanding and connecting with them.
          </h3>
        </div>
        <div class="content-image-right">
          <img class="image" src="../../assets/Couple2.png" alt="couple">
        </div>
      </div>
      
      <div class="content reverse anchor" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="800">
        <div class="content-image-left">
          <img class="image" src="../../assets/Couple3.png" alt="couple">
        </div>
        <div class="content-text">
          <h1>
            Our Community
          </h1>
          <h3 class="sub-text">
            All of the members here are fake, sorry!
            
          </h3>
          <h3 class="sub-text mobile-hide">
            If they were real, I'm sure they'd be friendly, respectful, and fascinating people
            looking for a partner to take on new adventures.
          </h3>
        </div>
      </div>
      
      ========================= FOOTER =========================
      <div class="footer" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="800" data-aos-anchor-placement="bottom">
        <div class="footer-item">
          <input type="submit" class="button button-big" value="Log In">
        </div>
        <div class="footer-item">
          <input type="submit" class="button button-color button-big" id="register" value="Register" (click)="registerToggle()">
        </div>
      </div>

    </div>

    ========================= REGISTER =========================
    <div class="container" *ngIf="registerMode">
      <div class="content top">
        <div class="content-text"> 
          <h1>
            Ready to Join?
          </h1>
        </div>
      </div>

    </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
      AOS.refresh();
    </script>
  </body>
</html> -->



<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your match!</h1>
    <p class="lead">Register an account to view your matches. All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
